@function toRem($pixel) {
   @return #{$pixel / 16}rem;
}

$color-primary: #001f3f;
$color-secondary: #85144b;
$color-accent: #ff851b;
$color-silver: #dddddd;

body {
   font-family: Roboto, sans-serif;
}

.app-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
}

.calculator-container {
   border: 4px solid $color-primary;
   width: toRem(376);
   height: toRem(672);
}

.display {
   height: toRem(232);
   text-align: right;
   padding-right: toRem(24);
   padding-top: toRem(72);
   background-color: white;

   &__input {
      font-size: toRem(64);
   }

   &__formula {
      font-size: toRem(22);
      margin-top: toRem(8);
      color: $color-accent;
   }
}

.inputs {
   height: toRem(432);
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(5, 1fr);
}

.button {
   border: none;
   background-color: $color-primary;
   color: $color-silver;
   font-size: toRem(24);
   cursor: pointer;
}

.button--operator {
   background-color: $color-secondary;
}

.button--equals {
   grid-row: span 2;
   background-color: $color-accent;
   color: $color-primary;
}

.button--zero {
   grid-column: span 2;
}
